<html>
  <head>
    <title>Reservations</title>
  	<link rel="stylesheet" href="bootstrap.css">
  	<link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script>
        $(function() {
        $( "#datepicker" ).datepicker();
        });
    </script>
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="home">Pokemon Hotel</a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="rooms">Rooms</a></li>
			<li class="active"><a href="reserve">Reserve</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	</br></br></br>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6"><!-- can be less than 12 -->
          <h1>Reserve a Room Now!</h1>
          <form role="form" action="/reserve" method="POST">
            <!-- group labels and inputs together using a form-group div -->
            <div class="form-group">
              <label for="roomname">Room Name</label>
			  </br>
			  <select name ="rmchoice">
			  <option value="pika">Pikachu Room</option>
			  <option value="saab">Pokemon Deluxe</option>
			  </select>
			  
            </div>
            <div class="form-group">
              <label for="contact">Contact Details</label>
        			<input type="text" name ="fname"class="form-control" id="exampleInputPassword1" placeholder="Full Name">
        			<input type ="text" name ="address" class="form-control" id="exampleInputPassword1" placeholder="Address">
        			<input type="text" name ="contactnumber" class="form-control" id="exampleInputPassword1" placeholder="Contact Number">
    			  </div>
        			  
      			 <div class="form-group">
      				  <label for="exampleInputPassword1">Date</label> </br> 
      				  <input type="text" id="datepicker" name="reservedate">
      			</div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
