<html>
  <head>
    <title>Reservations</title>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="home">Pokemon Hotel</a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="rooms">Rooms</a></li>
			<li class="active"><a href="reserve">Reserve</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	</br></br></br>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6"><!-- can be less than 12 -->
          <h1>Reserve a Room Now!</h1>
          <form role="form">
            <!-- group labels and inputs together using a form-group div -->
            <div class="form-group">
              <label for="exampleInputEmail1">Room Name</label>
			  </br>
			  <select>
			  <option value="pika">Pikachu Room</option>
			  <option value="saab">Pokemon Deluxe</option>
			  </select>
			  
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Contact Details</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Full Name">
			  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Address">
			  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contact Number">
			  </div>
			  
			 <div class="form-group">
				<label for="exampleInputPassword1">Date</label> </br> <input type="date" name="bday">
			</div>

            <div class="checkbox">
              <label>
                <input type="checkbox"> I agree to the Terms and Conditions
              </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
			<form method="POST" action ="/results">
				<label for="term">Submit</label>
				<input type="text" name="term"/>
				<input type="submit" value="GO"!/>
			</form>
        </div>
      </div>
    </div>
  </body>
