<html>
  <head>
    <title>Rooms</title>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="home">Pokemon Hotel</a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li class="active"><a href="rooms">Rooms</a></li>
			<li><a href="reserve">Reserve</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
	</br></br></br>

	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h1>I Choose You!</h1>
				<h3>Pikachu Room</h3>
				<p class="text-default"><img src="pikachuroom.jpg" alt="some_text"></br>Good for 2 persons</p>
				<p class="text-default">Best for kids</p>
				<p class="text-danger">15 000PHP per day</p>
			</div>
			
			<div class="col-md-4">
				</br></br></br>
				<h3>Pokemon Deluxe Room</h3>
				<p class="text-default"><img src="pokeroom.jpg" alt="some_text"></br>
				Good for 4-5 persons</p>
				<p class="text-default">Best for families</p>
				<p class="text-danger">30 000PHP per day</p>
			</div>
		</div>
	</div>
	
