<!DOCTYPE html>
<html>
  <head>
	<title>Welcome To Pokemon Hotel</title>
	<link rel="stylesheet" href="bootstrap.css">
	<link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="home">Pokemon Hotel</a><!-- this is where you set the navigation title -->
        </div>
        <div class="collapse navbar-collapse"><!-- collapse allows for this navbar to be used in mobile devices -->
          <ul class="nav navbar-nav"><!-- this is the list of navigation options in your navbar -->
            <li><a href="home">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="rooms">Rooms</a></li>
			<li><a href="reserve">Reserve</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
	
	</br></br></br>
	
	<div class="container">
		<h1>You have successfully reserved a room in </br>Pokemon Hotel</h1>
		<%= @var.confirm %>
	</div>
</body>
</html>
